#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}


.main {
  display: flex;
  flex-direction: row;
  padding: 10%;
}

.calc {
  padding: 20px;
}

.history {
  padding: 50px;
}

@media (max-width: 800px) {
  .main {
    flex-direction: column;
  }

  .main>div {
    margin: auto;
    min-width: 300px;
  }
}